<h1>The Cocktails</h1>
 <% @cocktails.each do |cocktail| %>
   <h2>
    <%= link_to cocktail.name, cocktail %>
    <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cocktail_path(cocktail) %>
    <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
   </h2>
   <hr>
 <% end %>
